<h1>一覧</h1>
<hr>
<h3>物件一覧</h3>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>築年数</th>
    <th>住所</th>
    <th>備考</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.age %></td>
    <td><%= item.address %></td>
    <td><%= item.remark %></td>
    <td><%= link_to '詳細',item_path(item.id) %></td>
    <td><%= link_to '編集',edit_item_path(item.id) %></td>
    <td><%= link_to '削除',item_path(item.id),method: :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to '新規登録',new_item_path %>
